body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #5a9deb;
    color: white;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    margin-top: 7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #d4ddd5;
    
  }
  
  .radio-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .radio-label {
    margin-left: 5px;
  }
  
  @media (max-width: 600px) {
    .container {
      max-width: 90%;
    }
  
    .social-login {
      text-align: center;
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  
    .social-login img {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }
    .or-line {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .or-line span {
        flex-grow: 1;
        height: 1px;
        background-color: #ccc; /* Change the color as needed */
        margin: 0 10px;
    }
    .social-login button {
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      margin: 0 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

    }
  
    .social-login button:hover {
      background-color: #2d4373;
    }
  }
  